<footer>
    <div class="container text-center">
    <div class="row">
        <div class="col-4">
            <a href="" class="white float-left ">FAQ</a></br>
            <a href="" class="white float-left">Qui sommes-nous</a></br>
            <a href="" class="white float-left">Contactez-nous</a>
        </div>

        <div class="col-4">
            <h3 class="white">Suivez-nous</h3>

            <div class='demopadding'>
            <div class='icon social fb'><i class='fa fa-facebook'></i></div>
            <div class='icon social tw'><i class='fa fa-twitter'></i></div>
            <div class='icon social in'><i class='fa fa-linkedin'></i></div>
            </div> 
        </div>
    </div>
    </div>
</footer>